
/*URL INPUTS*/

.url-input-1{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:5%;
}

.url-input-2{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: rgb(27, 6, 104);
    left: 1%;
    top:14%;
 }

 .url-input-3{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:23%;
 }

 .url-input-4{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:32%;
 }

 .url-input-5{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:41%;
 }

 .url-input-6{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:50%;
 }

 .url-input-7{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:59%;
 }

 .url-input-8{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:68%;
 }

 .url-input-9{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:77%;
 }

 .url-input-10{
    display: flex;
    position: absolute;
    height: 8%;
    width: 30%;
    background-color: aqua;
    left: 1%;
    top:86%;
 }


 /*NAME INPUTS*/

 .name-input-1{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:5%;
}

.name-input-2{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: rgb(27, 6, 104);
   left: 35%;
   top:14%;
}

.name-input-3{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:23%;
}

.name-input-4{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:32%;
}

.name-input-5{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:41%;
}

.name-input-6{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:50%;
}

.name-input-7{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:59%;
}

.name-input-8{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:68%;
}

.name-input-9{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:77%;
}

.name-input-10{
   display: flex;
   position: absolute;
   height: 8%;
   width: 30%;
   background-color: aqua;
   left: 35%;
   top:86%;
}