




 .link-button-1{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:5%;
 }

 .link-button-2{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:14%;
 }

 .link-button-3{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:23%;
 }

 .link-button-4{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:32%;
 }

 .link-button-5{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:41%;
 }

 .link-button-6{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:50%;
 }

 .link-button-7{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:59%;
 }

 .link-button-8{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:68%;
 }

 .link-button-9{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:77%;
 }

 .link-button-10{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:32%;
    top:86%;
 }