



.menu-button-1{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:5.5%;
}

.menu-button-2{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:14%;
 }

 .menu-button-3{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:23%;
 }

 .menu-button-4{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:32%;
 }

 .menu-button-5{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:41%;
 }

 .menu-button-6{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:50%;
 }

 .menu-button-7{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:59%;
 }

 .menu-button-8{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:68%;
 }

 .menu-button-9{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:77%;
 }

 .menu-button-10{
    display: flex;
    position: absolute;
    height: 8%;
    width: 10%;
    left:69%;
    top:86%;
 }